/*******************************************************TAG SELECTORS******************************************************/
body {
  background-color: #fff9db;
}

h1 {
  color: #e8505b;
  font-size: 25px;
  text-align: center;
}

h2 {
  color: #00a4e8;
  text-align: center;
}

h3 {
  color: #de7119;
  text-align: center;
}

h4 {
  color: #6a197d;
  font-size: 17.5px;
}

a {
  color: #000000;
}

a:hover {
  color: #32e3c8;
}

hr {
  border-color: #69e07c;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 5%;
}

img {
  background-color: #fff9db;
  width: 105px;
  height: 105px;
  border-radius: 100%;
}

u {
  text-decoration: underline;
  text-decoration-style: wavy;
}

/************************************************************CLASSESS***********************************************************/
.STR-1 {
  color: red;
  font-size: 30px;
  text-align: center;
}

.U1-1 {
  text-decoration: underline;
  text-decoration-style: solid;
}

.STR-2 {
  color: red;
  font-size: 22px;
  text-align: center;
}

.U1-2 {
  text-decoration: underline;
  text-decoration-style: solid;
  color: red;
}

.IMAGE-1 {
  border-radius: 100%;
  height: 150px;
  width: 150px;
}

.TABLE-1 {
  margin-left: auto;
  margin-right: auto;
}

.CONTACT-1 {
  color: lightsalmon;
}

.H1-1 {
  color: #60db5c;
}

.U1-3 {
  text-decoration: underline;
  text-decoration-style: double;
}

.ORDERED-1 {
  text-decoration-color: #de7119;
}

.H1-2 {
  color: #ec4646;
}

.U1-4 {
  text-decoration: underline;
  text-decoration-style: wavy;
}

.H1-3 {
  color: #60db5c;
}

.U1-5 {
  text-decoration: underline;
  text-decoration-style: double;
}

#BUTTON {
  background-color: lightsalmon;
  border: 2px solid olive;
  font-size: 24px;
  border-radius: 100px;
  color: mediumpurple;
  width: 12.5%;
}

#BUTTON:hover {
  transition-duration: 0.5s;
  background-color: powderblue;
  color: indianred;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
